/* .con{
    background:linear-gradient(135deg,#71b7e6,#9b59b6);
}

small {
    color: maroon;
} */
/* #div1{
     float: left;

} */
 /* #div2{
      position: absolute;
      top:50%;
      left:50%;
      transform: translate(-50%, -50%);
}  */
.container{
    
    height: 60em;background-size: cover;width: auto;
    background-image: url(src\assets\mfpe.jpg);
    background-position: 50% 50%;
   
}
.card{
   
    border: none;
    width:500px;
    padding: 60px;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background: hsla(205, 46%, 30%, 1);
    background: linear-gradient(90deg ,rgb(34, 80, 112)0%, rgb(54, 40, 80)100%);
}
.card  h3
{
    color:#fff;
}
label{
    color: #fff;
}